body {
    background-color: #232522;
}

.calculator {
    margin: 10vw auto;
    height: 338px;
    width: 538px;
    background-image: url(matrix.jpg);
    border-radius: 34px;
    position: relative;
    box-shadow: 0px 0px 9px 16px black;
}

.screen {
    height: 100px;
    width: 510px;
    background-color: #84ba86;
    border-radius: 11px;
    position: absolute;
    left: 13px;
    top: 11px;
    border: 0px solid transparent;
    box-shadow: inset 0.3px 0.3px 4px 3px #000000;
    z-index: 1;
}

.input-box {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    width: 95%;
    height: 100%;
    outline: none;
    outline-style: none;
    color: darkred;
    font-weight: 600;
    font-size: 64px;
    padding-right: 10px;
    text-align: right;
    overflow-x: hidden;
    text-decoration: none;
    border: transparent;
}

.grid-1 {
    position: absolute;
    left: 16px;
    top: 120px;
    width: 221px;
    height: 211px;
    z-index: 1;
    display: grid;
    grid-template-rows: 65px 65px 65px;
    grid-template-columns: 60px 60px 60px;
    grid-gap: 8px 20px;
    z-index: 1;
}

.grid-2 {
    width: 148px;
    height: 212px;
    display: grid;
    z-index: 1;
    position: absolute;
    left: 266px;
    top: 119px;
    grid-template-areas:
        "plus minus clear"
        "divide multiply clear"
        "zero enter enter";
    grid-gap: 8px 13px;
}

.panel {
    width: 65px;
    height: 60px;
    background-color: black;
    outline-style: none;
    box-shadow: 0px 0px 0px 6px #000000;
    border-radius: 11px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.panel:hover {
    box-shadow: 0px 0px 0px 7px #000000;
    font-weight: 600;
}

.red {
    color: darkred;
    font-size: 30px;
}

.clear {
    width: 85px;
    height: 137px;
    outline-style: none;
    box-shadow: 0px 0px 0px 6px #000000;
    border-radius: 11px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    grid-row: 1/3;
    grid-column: 3/4;
}

.clear:hover {
    box-shadow: 0px 0px 0px 7px #000000;
    font-weight: 600;
}

.cleartext {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -9px;
    margin-top: 1px;
}

.enter {
    grid-row: 3/4;
    grid-column: 2/4;
    width: 174px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline-style: none;
    box-shadow: 0px 0px 0px 6px #000000;
    border-radius: 11px;
    background-color: black;
    color: darkred;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.enter:hover {
    box-shadow: 0px 0px 0px 7px #000000;
    font-weight: 600;
}

.entertext {
    margin-left: 9px;
    letter-spacing: 3px;
}