body {
    background-color: #232522;
}

.calculator {
    margin: 10vw auto;
    height: 424px;
    width: 598px;
    background-image: url(matrix.jpg);
    border-radius: 18px;
    position: relative;
    box-shadow: 0px 0px 9px 16px black;
}

.screen {
    height: 132px;
    width: 546px;
    background-color: #84ba86;
    border-radius: 12px;
    position: absolute;
    left: 17px;
    top: 0px;
    border: 0px solid transparent;
    box-shadow: inset 0.3px 0.3px 4px 3px #000000;
    z-index: 1;
}

.input-box {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    width: 527px;
    height: 100%;
    outline: none;
    outline-style: none;
    color: darkred;
    font-weight: 600;
    font-size: 64px;
    padding-right: 14px;
    text-align: right;
    overflow-x: hidden;
    text-decoration: none;
    border: transparent;
}

.grid-1 {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 221px;
    height: 211px;
    z-index: 1;
    display: grid;
    grid-template-rows: 65px 65px 65px;
    grid-template-columns: 60px 60px 60px;
    grid-gap: 10px 23px;
    z-index: 1;
}

.grid-2 {
    width: 257px;
    height: 205px;
    display: grid;
    z-index: 1;
    position: absolute;
    left: 266px;
    top: 20px;
    grid-template-areas:
        "plus minus clear"
        "divide multiply clear"
        "zero enter enter";
    grid-gap: 10px 22px;
}

.panel {
    width: 65px;
    height: 60px;
    outline-style: none;
    box-shadow: 0px 0px 0px 6px #000000;
    border-radius: 11px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 3px;
    opacity: 0.93;
}

.panel:hover {
    box-shadow: 0px 0px 0px 7px #000000;
    font-weight: 600;
}

.red {
    color: darkred;
    font-size: 30px;
}

.clear {
    width: 85px;
    height: 137px;
    outline-style: none;
    box-shadow: 0px 0px 0px 6px #000000;
    border-radius: 11px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    grid-row: 1/3;
    grid-column: 3/4;
    margin-left: -8px;
    opacity: 0.93;
}

.clear:hover {
    box-shadow: 0px 0px 0px 7px #000000;
    font-weight: 600;
}

.cleartext {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 1px;
    font-size: 25px;
}

.enter {
    grid-row: 3/4;
    grid-column: 2/4;
    width: 174px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline-style: none;
    box-shadow: 0px 0px 0px 6px #000000;
    border-radius: 11px;
    background-color: black;
    color: darkred;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 4px;
    opacity: 0.93;
}

.enter:hover {
    box-shadow: 0px 0px 0px 7px #000000;
    font-weight: 600;
}

.entertext {
    margin-left: 9px;
    letter-spacing: 3px;
}

.inside-wrapper {
    width: 579px;
    height: 350px;
    position: relative;
    top: 24px;
    left: 10px;
}

.grids-wrapper {
    position: relative;
    width: 539px;
    height: 235px;
    top: 131px;
    left: 28px;
}